*{margin: 0;
  
    outline:none;}
/* HEADER */
.container.header{
    display: flex;
   
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    background: rgba(253, 253, 253, 0.97);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container.header img{
    width: 150px;
    height: 150px;
    margin-left: 2rem;
} 
.other.page a{
    text-decoration: none;
    color: black;
    padding-right: 2rem;
}
.container.header p{
    font-family: 'Salute Riches Free', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.other.page img{
    width: 50px; 
    height: 50px;
}



/* BOUTIQUE */
.container.boutique.produits{
    display: flex;
    width: 900px;
    height: 170px;
    font-family: 'Kiona', sans-serif;
    background: #e8e8e8b1;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25), inset 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    align-items: center;
    margin-left: 3rem;
    margin-top: 2rem;
}
.container.text{
    flex-direction: column;
}
.container.produits.nom{
    padding-left: 2rem;
    padding-top: 1rem;
}
.container.produits.description{
    padding-left: 2rem;
    padding-top: 0.5rem;
    font-size: 0.8rem;
}
.container.produits.prix{
    justify-content: flex-end;
    padding-left: 2rem;
    font-size: 2rem;
}
.container.boutique.produits img{
    margin-left: 1rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.container.produits.audio{
    margin-top: 0.7rem;
    margin-left: 2rem;
}
.button.add input#add{
    margin-top: 0.8rem;
    background: #000000;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
    color: white;
    border: none;
}
.button.add input#qt{
    background: #000000;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25); 
    width: 25px;
    height: 25px;
    border-radius: 29px;
    color: white;
    border: none;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.button.add{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HOME PAGE */
.container.homepage.first{
    margin-top: 2rem;
    margin-left: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 500px;
    height: 230px;
    background: #c5c3c378;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.container.homepage.first .text{
    width: 500px;
    height: 100px;
    color: rgb(0, 0, 0);
    font-family: 'Kiona', sans-serif;
    font-size: 13px;
}
.container.homepage.first img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    shape-outside: margin-box;
    margin: 0 20px 5px 0;
}
.container.information.boutique{
    padding: auto;
    margin: auto;
    border: none;
    width: 400px;
    height: 135px;
    text-align:center;
    font-family: 'Kiona', sans-serif;
    background: #f9f9f964;
    box-shadow: 0px 4px 17px 3px rgb(165, 171, 185);    border-radius: 20px;
    
}
.title{
font-weight: bolder;
padding-top: 0.4rem;
}
.title p{
    padding-top:0.2rem;
    font-size: 13px;
    font-weight: 400;
}
.content{
    display: flex ;
    flex-direction: row;

}
/* ADMIN Header*/
.container.homepageA.navbar{
    width: 250px;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 26px 4px 20px -7px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container.homepageA.navbar img{
    width: 150px;
    height: 150px;
}
.container.titre.selection.modification .title{
    padding-bottom: 1rem;
    padding-top: 2rem;
    font-size: 16px;
    font-weight: bold;
}
.container.titre.selection.modification{
    font-family: 'Kiona', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container.titre.selection.modification .lien.page a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}
.container.titre.selection.modification .lien.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form.deco{
    justify-content: flex-end;
    margin-top:2rem;
}
.button.deconnection input{
    margin-top: 1rem;
    width: 120px;
    height: 120px;

    border: none;
    background: rgb(255, 255, 255);
    background-image: url(./others/images/exit.svg);
    background-repeat: no-repeat;
    background-position: center;

}

/* ADMIN / PRODUIT CREATION */
body.produit.creation{
    display: flex;
    font-family: 'Kiona', sans-serif;
}
.container.form.produit.creation{
    margin: auto;
    padding: auto;
}

.produit.creation form.nul{
    width: 600px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 14px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.creation.border.top.container{
    width: 600px;
    height: 30px;
    background: #000000;
   text-align: center;
    padding-top: 1rem;
    color: white;
    font-family: 'Kiona', sans-serif;
    font-weight:bolder;
}

.container.products.admin{
    display: flex;
    align-items: center;
    flex-direction: column;;
}

.image.products input{
    margin-top: 1rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    background: black;
    background-image: url(./others/images/photo.svg);
    background-repeat:no-repeat;
    background-position: center;
}

.container.products.admin input{
    margin-top: 1rem;
    width: 120px;
    border: none;
    text-align: center;
    font-size: 12px;
    font-family: 'Kiona', sans-serif;
    color: #000000;
    font-weight:bolder;
}

.button.products input{
    background-color: black;
    color: white !important;
    border-radius: 12px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: none;
    
}

/* ADMIN / PRODUIT MODIFICATIONS FORM*/
body.produit.modification.form{
    display: flex;
    font-family: 'Kiona', sans-serif;
}
.container.modification.form{
    width: 400px;
    height: 500px;
    font-family: 'Kiona', sans-serif;
    background: #e8e8e8b1;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25), inset 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    margin-left: 3rem;
    margin-top: 2rem;
    
}
.container.modification.produit{
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.container.modification{
    padding: 0;
    margin:0;
}
.container.modification.form img{
    margin-left: 1rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.form.create.produit form{
    align-items: center;
    margin-left: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background: #e8e8e8b1;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25), inset 0px -2px 4px rgba(0, 0, 0, 0.25);

}
.container.create.form.product{
    display: flex;
    margin: auto;
    padding: auto;    
}
.button.products.modification input{
    width: 75px; 
 
}
.button.products.modification{
    margin-top: 2rem;
}
.text.products input{
    display: flex;
    margin-top: 1rem;
    width: 120px;
    border: none;
    text-align: center;
    font-size: 12px;
    font-family: 'Kiona', sans-serif;
    color: #000000;
    font-weight:bolder;
}
.modification.border.top.container{
    width: 403px;
    height: 30px;
    background: #000000;
   text-align: center;
    padding-top: 1rem;
    color: white;
    font-weight:bolder; 
}


/* ADMIN / PRODUIT MODIFICATION */
body.body.produit.modification{
    display: flex;
    font-family: 'Kiona', sans-serif;

}
.button.boutique.admin.produit.modif{
    margin-left: 2.5rem;
}
.button.boutique.admin.produit.modif input{
    background: black;
    border: none;
    color: white;
    width: 110px;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 50px;
    font-family: 'Kiona', sans-serif;
}

/* ADMIN / PRODUIT SUPPRIMER FORM */
body.produit.delete.form{
    display: flex;
    font-family: 'Kiona', sans-serif;

}

.container.container.product.form.delete{
    display: flex;
    align-items: center;
    padding:auto;
    margin:auto;
}

.container.delete.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
     width: 400px;
    height: 70px;
    background: #FF0000;
    box-shadow: 0px 14px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align:center;
}
.container.delete.form p{
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 0.5rem;
}

.container.delete.form input{
    width: 70px;
    height: 20px;
    border-radius: 50px;
    border:none;
}

/* ADMIN / HOMEMODIF*/
body.modification.homepage{
    display: flex;
}
.container.homepageinformation{
    padding: auto;
    margin: auto;
}
.container.homepageinformation{
    display: flex;
    flex-direction: column;

    width: 600px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 14px 4px rgb(0 0 0 / 25%), inset 0px 4px 4px rgb(0 0 0 / 25%);
}
.container.homepageinformation form{
    /* padding: auto;
    margin: auto; */
    align-items:center;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.button.hompeageinformation{
    margin-top: 4rem;
}
.button.hompeageinformation input{
    width: 100px;
    height: 40px;
    background: black;
    border:none;
    font-family: 'Kiona', sans-serif;
    color: white;
    border-radius: 50px;
     
}
.text.modification input{
    display: flex;
    margin-top: 1rem;
    width: 120px;
    height: 40px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-family: 'Kiona', sans-serif;
    color: #000000;
    font-weight:bolder;
}

.text.modification{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* COMMANDES ADMIN */
body.commande.retour.client{
    display: flex;
    font-family: 'Kiona', sans-serif;
}
img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.cardsssss{
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
}
.container.retour.produit.commandes{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 170px;
    align-items: center;
    margin-left: 1rem;
}
.nom.retour.commandes{
    letter-spacing: 1.5px;
    padding-top: 0.4rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.prix.retour.commandes{
    margin-top: 1rem;
    text-align:center;
    width: 45px;
    height: 20px;
    background: #D9D9D9;
    border-radius: 9px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight:500;
}
.changer.etat.button{
    margin-left: 1rem;
    background: black;
    height: 20px;
    width: 70px;
    text-align:center;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.changer.etat.button a{
    text-decoration:none;
    color: white;
    font-weight: bold;
}
.test.commandes.des.cartes{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto;
}
.commandes.id.client{
    border: 1px solid black;
    margin-bottom: 1rem;
    width: 900px;
    height: 200px;
}
.commandes.nom.mail.tel.client{
    height: 30px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-weight: bold;
    padding-top: 0.1rem;
}
.container.total.commande{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    justify-content: flex-end;
}
.total.commande.resultat{
    background: black;
    width: 200px;
    color: white;
    text-align: center;
    font-weight: bold;
}

 /* CONNEXION ADMINISTATEUR */
body.connexion.administateur{
    font-family: 'Kiona', sans-serif;
    display: flex;
    align-items:center;
    justify-content: center;
 }
 .container.form.connexion.administrateur{
    margin-top: 2rem;
    width: 700px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 0px 14px 4px rgb(0 0 0 / 25%), inset 0px 4px 4px rgb(0 0 0 / 25%);
}
.title.connexion.administrateur{
    width: 700px;
    height: 40px;
   color: white;
   background:black;
   text-align: center;
   padding-bottom: 1rem;
}
.title.connexion.administrateur p{
    font-size: 35px;
}
.content.form.connexion.administrateur{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 5rem;
}
.content.form.connexion.administrateur input{
   margin-top: 1rem;
    width: 120px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-family: 'Kiona', sans-serif;
    color: #000000;
    font-weight: bolder;
    border: none;
    outline:none;
}
.ligne{
    border: solid rgba(0, 0, 0, 0.266) 0.1px;
    width: 200px;
}
.textbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button.form.connexion.administrateur input{
    margin-top: 2rem;
}


/* PANIER */
.container.panier.all{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.containerde.container.panier.recuperation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.containerde.container.panier.recuperation form{
    display: flex;
    align-items: center;
}
.container.récupération.panier{
    display: flex;
    
}
.content.panier.recuperation{
 flex-direction: column;
 align-items: center;
 margin-left: 1rem;
}

.text.content.panier.recuperation{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.price.content.panier.recuperation{
    margin-top: 1rem;
}
.container.form.panier input{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.button.submit.panier input{
    border:none;
    background-color:black; 
    color: white;
}

/* header boutique */
@media (max-width: 700px){
    .fixation .container.header{
        max-width: 10000vh;

    }
}





